#main {
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    width: 500px;
    height: 800px;
  }
  #main .my-timestamp {
    font-size: 11px;
    text-align: right;
    margin-right: 10px;
    color:darkgray;
  }
  #main .other-timestamp {
    font-size: 11px;
    text-align: left;
    margin-left: 10px;
    color:darkgray;
  }
  #main .connect-timestamp {
    font-size: 11px;
    color:darkgray;
  }
  
  #chat {
    height: 90%;
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    overflow-y: auto;
  }
  
  .connect {
    width: 90%;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
  }
  
  .disconnect {
    width: 90%;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
  }
  
  /* 내가 보낸 메시지 */
  .me {
    width: 70%;
    margin-left: 140px;
    text-align: right;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  /* 상대방이 보낸 메시지 */
  .other {
    width: 70%;
    margin-left: 10px;
    text-align: left;
    background-color: lightgray;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  